<%= simple_form_for @invoice, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :date %>
  <%= f.input :tax_percentage, :required => true %>
  <%= f.input :client_id, :collection => Client.all, :include_blank => false %>
  <%= f.input :status_id, :collection => Status.all, :include_blank => false %>
    
 
  <%= simple_nested_form_for @invoice do |f| %>
    
    <%= f.simple_fields_for :products do |product_form| %>
      <div class = "form-actions">
        <%#= product_form.label :name %>
        <%= product_form.input :name, :placeholder => 'Product Name' %>
        <%#= product_form.label :description %>
        <%= product_form.input :description , :input_html => { :rows => 5 }%>
        <%#= product_form.label :price %>
        <%= product_form.input :price %>

        
        <%= product_form.link_to_remove "Remove product" %>
      </div>
    <% end %>

      <p><%= f.link_to_add "Add a product", :products %></p>
      
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            invoices_path, :class => 'btn' %>
  </div>
    <% end %>
    
<% end %>


