<%= simple_form_for @client, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, :required => true %>
  <%= f.input :address, :required => true %>
  <%= f.input :contact_person_name, :required => true %>
  <%= f.input :contact_person_number, :required => true %>
  <%= f.input :contact_person_email, :required => true %>
  
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                clients_path, :class => 'btn' %>
  </div>
<% end %>
