<%- model_class = @client.class -%>
<h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                               :default => "Details for #{model_class.model_name.human} #{@client.name}") %></h1>

<table class="table table-striped">
  <thead >
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:contact_person_name) %></th>
      <th><%= model_class.human_attribute_name(:contact_person_number) %></th>
      <th><%= model_class.human_attribute_name(:contact_person_email) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @client.name %></td>
      <td><%= @client.address %></td>
      <td><%= @client.contact_person_name %></td>
      <td><%= @client.contact_person_number %></td>
      <td><%= @client.contact_person_email %></td>
      <td><%=l @client.created_at %></td>
      <td>
        
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_client_path(@client), :class => '' %><br/>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    client_path(@client),
                    :method => :delete,
                    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                    :class => '' %><br/>
      </td>
    </tr>
  </tbody>
</table>