<!DOCTYPE html>
<html lang="en">
<head>
  <title>InvoAppm</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <div class="navbar noPrint">
    <div class="navbar-inner">
      <%= link_to "Cybrilla Technologies", root_path, :class => "brand" %>
      <% if( user_signed_in? ) %>
        <ul class="nav">
          <li><%= link_to "Invoices", root_path %></li>
          <li><%= link_to "Clients", clients_path %></li>
        </ul>
        
        <ul class = "nav pull-right" >
          <li class="dropdown">
            <% if( user_signed_in? ) %>
              <%= link_to "Signout", destroy_user_session_path, :method => "delete"  %> 
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
</div>
  
</head>
<body>
<div class="container"> 

  <%= yield %>

</div>
</body>
</html>
